<main class="theme-main" id="container">
    <div class="content-layout">
        <div class="layout-bg layout-01" id="layout_01">
            <div class="layout-inner flex-center">
                <div class="top-layout-inner-wrap">
                    <div class="top-layout-text-box">
                        <span class="layout-text">인간과 환경을 생각하는  <br> <b>라이프스타일 큐레이터</b> 파고인터내셔널</span>
                    </div>

                    <button type="button" class="about-fargo-btn">
                        <b>파고인터내셔널</b>
                        이란? 
                        <i class="xi-angle-down"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layout-bg layout-02" id="layout_02">
            <div class="layout-inner">
                <div class="about-text-box">
                    <span class="about-text-title">ABOUT</span>
                    <p>
                        <b>(주) 파고인터내셔널</b>은 
                        2007년 창립 이래 디자인과 실용성이 겸비된 세계 유명 브랜드의 제품을 국내에 소개하고 독점 공급하고 있습니다.
                    </p>

                    <p>
                        디자인과 색상 등의 트렌드뿐만 아니라 <b>환경</b>과  <b>건강</b>까지 고려한 다양하고 기능적인 제품들을 공급하여 생활에 활력과 즐거움을 주고자 항상 노력하겠습니다.
                    </p>
                </div>
            </div>
            
        </div>

        <div class="layout-bg layout-03" id="layout_03">
            <div class="layout-inner">
                <div class="about-text-box">
                    <span class="about-text-title history">HISTORY</span>
                </div>

                <div class="layout-history-content">
                    <div class="history-box">
                        <div class="history-content-left">
                            <span class="history-year round">2007</span>
                        </div>
                        <div class="history-content-right">
                            <span class="right-content-title bold">파고인터내셔널 창립</span>
                            <span class="right-content-sub">LeKue (Spain) 독점수입계약</span>
                            <span class="right-content-sub">현대백화점 입점</span>
                        </div>
                    </div>

                    <div class="history-box">
                        <div class="history-content-left">
                            <span class="history-year">2008</span>
                        </div>
                        <div class="history-content-right">
                            <span class="right-content-sub">신세계 백화점 입점</span>
                        </div>
                    </div>


                    <div class="history-box">
                        <div class="history-content-left">
                            <span class="history-year round">2010</span>
                        </div>
                        <div class="history-content-right">
                            <span class="right-content-title">Omada Sanaliving (Italy) 독점수입계약</span>
                            <span class="right-content-sub">AK플라자 입점</span>
                        </div>
                    </div>

                    <div class="history-box">
                        <div class="history-content-left">
                            <span class="history-year">2011</span>
                        </div>
                        <div class="history-content-right">
                            <span class="right-content-sub">롯데백화점 입점</span>
                            <span class="right-content-sub">Black + Blum (UK) 독점수입 계약</span>
                        </div>
                    </div>

                    <div class="history-box">
                        <div class="history-content-left">
                            <span class="history-year">2012</span>
                        </div>
                        <div class="history-content-right">
                            <span class="right-content-sub">Takeya (Japan) 독점수입계약</span>
                        </div>
                    </div>

                    <div class="history-box">
                        <div class="history-content-left">
                            <span class="history-year round">2013</span>
                        </div>
                        <div class="history-content-right">
                            <span class="right-content-title ">Rosti Mepal (Netherlands) 독점수입계약</span>
                            <span class="right-content-sub">SILTEQ 자체 브랜드 런칭</span>
                        </div>
                    </div>

                    <div class="history-box">
                        <div class="history-content-left">
                            <span class="history-year">2014</span>
                        </div>
                        <div class="history-content-right">
                            <span class="right-content-sub">Charles Viancin (France) 독점수입계약</span>
                        </div>
                    </div>

                    <div class="history-box">
                        <div class="history-content-left">
                            <span class="history-year">2015</span>
                        </div>
                        <div class="history-content-right">
                            <span class="right-content-sub">Garcima (Spain) 독점수입계약</span>
                        </div>
                    </div>

                    <div class="history-box">
                        <div class="history-content-left">
                            <span class="history-year round">2016</span>
                        </div>
                        <div class="history-content-right">
                            <span class="right-content-sub">Antikars (Italy) 독점수입계약</span>
                        </div>
                    </div>

                    <div class="history-box">
                        <div class="history-content-left">
                            <span class="history-year">2017</span>
                        </div>
                        <div class="history-content-right">
                            <span class="right-content-title bold">(주)파고인터내셔널 법인 전환</span>
                            <span class="right-content-sub">(주)포하우스 백화점 전문유통법인 신규 설립</span>
                        </div>
                    </div>

                    <div class="history-box">
                        <div class="history-content-left">
                            <span class="history-year">2018</span>
                        </div>
                        <div class="history-content-right">
                            <span class="right-content-sub">DayDrap (Spain) 독점수입계약</span>
                        </div>
                    </div>

                    <div class="history-box">
                        <div class="history-content-left">
                            <span class="history-year round">2019</span>
                        </div>
                        <div class="history-content-right">
                            <span class="right-content-sub">Berlinger Haus (Hungary) 독점수입계약</span>
                        </div>
                    </div>

                    <div class="history-box">
                        <div class="history-content-left">
                            <span class="history-year round">2021</span>
                        </div>
                        <div class="history-content-right">
                            <span class="right-content-title">TATAY (Spain) 독점수입계약</span>
                            <span class="right-content-sub">BRA (Spain) 독점수입계약</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

 
        <div class="layout-bg layout-04" id="layout_04">
            <div class="layout-inner">
                
                <span class="about-text-title">CLIENTS & BRANDS</span>
                
                <div class="brand-logo-list-wrap">
                    <ul class="brand-logo-list">
                        <li class="brand-logo-item">
                            <img src="./assets/img/logo/11.png" alt="더 현대">
                        </li>

                        <li class="brand-logo-item">
                            <img src="./assets/img/logo/12.png" alt="롯데백화점">
                        </li>

                        <li class="brand-logo-item">
                            <img src="./assets/img/logo/13.png" alt="신세계">
                        </li>

                        <li class="brand-logo-item">
                            <img src="./assets/img/logo/14.png" alt="갤러리아">
                        </li>

                        <li class="brand-logo-item">
                            <img src="./assets/img/logo/15.png" alt="플라자">
                        </li>

                        <li class="brand-logo-item">
                            <img src="./assets/img/logo/1.png" alt="antik ars">
                        </li>

                        <li class="brand-logo-item">
                            <img src="./assets/img/logo/2.png" alt="Charles viancin">
                        </li>

                        <li class="brand-logo-item">
                            <img src="./assets/img/logo/3.png" alt="florinda">
                        </li>

                        <li class="brand-logo-item">
                            <img src="./assets/img/logo/4.png" alt="mepal">
                        </li>

                        <li class="brand-logo-item">
                            <img src="./assets/img/logo/5.png" alt="omada">
                        </li>

                        <li class="brand-logo-item">
                            <img src="./assets/img/logo/6.png" alt="SILTEQ">
                        </li>

                        <li class="brand-logo-item">
                            <img src="./assets/img/logo/7.png" alt="tatay">
                        </li>

                        <li class="brand-logo-item">
                            <img src="./assets/img/logo/8.png" alt="bra">
                        </li>

                        <li class="brand-logo-item">
                            <img src="./assets/img/logo/9.png" alt="trebonn">
                        </li>

                        <li class="brand-logo-item">
                            <img src="./assets/img/logo/10.png" alt="wenko">
                        </li>
                    </ul>
                </div>
                
            </div>
        </div> 


        <div class="layout-bg layout-05" id="layout_05">
            <div class="layout-inner shopping-inner">
                
                <span class="about-text-title">SHOPPING & INFORMATION</span>
                
                <div class="shopping-list-wrap">
                    <ul class="shopping-list">
                        <li class="shopping-item">
                            <a href="#" class="shopping-item-link">
                                <div class="shopping-item-thumbnail-box">
                                    <div class="thumbnail-img" style="background-image: url(./assets/img/board_thumb/thumb_1.png);"></div>
                                </div>

                                <div class="shopping-info">
                                    <span class="info-title">Mepal</span>
                                    <p class="info-text">
                                        북유럽의 모던한 디자인과 색상이 반영된
                                        기능적 제품들로 구성되어있습니다.
                                    </p>
                                </div>
                            </a>
                        </li>

                        <li class="shopping-item">
                            <a href="#" class="shopping-item-link">
                                <div class="shopping-item-thumbnail-box">
                                    <div class="thumbnail-img" style="background-image: url(./assets/img/board_thumb/thumb_2.png);"></div>
                                </div>

                                <div class="shopping-info">
                                    <span class="info-title">Sanaliving Food container</span>
                                    <p class="info-text">
                                        친환경 재질과 세계적인 향균소재로
                                        만들어진 밀폐용기
                                    </p>
                                </div>
                            </a>
                        </li>

                        <li class="shopping-item">
                            <a href="#" class="shopping-item-link">
                                <div class="shopping-item-thumbnail-box">
                                    <div class="thumbnail-img" style="background-image: url(./assets/img/board_thumb/thumb_3.png);"></div>
                                </div>

                                <div class="shopping-info">
                                    <span class="info-title">TATAY</span>
                                    <p class="info-text">
                                        스페인의 대표적인 생활용품 브랜드
                                    </p>
                                </div>
                            </a>
                        </li>

                        <li class="shopping-item">
                            <a href="#" class="shopping-item-link">
                                <div class="shopping-item-thumbnail-box">
                                    <div class="thumbnail-img" style="background-image: url(./assets/img/board_thumb/thumb_4.png);"></div>
                                </div>

                                <div class="shopping-info">
                                    <span class="info-title">Florinda Vegetable Soap</span>
                                    <p class="info-text">
                                        이태리를 대표하는 자연유래 식물성 향수비누
                                    </p>
                                </div>
                            </a>
                        </li>

                        <li class="shopping-item">
                            <a href="#" class="shopping-item-link">
                                <div class="shopping-item-thumbnail-box">
                                    <div class="thumbnail-img" style="background-image: url(./assets/img/board_thumb/thumb_5.png);"></div>
                                </div>

                                <div class="shopping-info">
                                    <span class="info-title">BRA</span>
                                    <p class="info-text">
                                        스페인을 대표하는 No.1 Cookware 브랜드
                                    </p>
                                </div>
                            </a>
                        </li>

                        <li class="shopping-item">
                            <a href="#" class="shopping-item-link">
                                <div class="shopping-item-thumbnail-box">
                                    <div class="thumbnail-img" style="background-image: url(./assets/img/board_thumb/thumb_6.png);"></div>
                                </div>

                                <div class="shopping-info">
                                    <span class="info-title">Charles Viancin</span>
                                    <p class="info-text">
                                        자연을 소재로 한 독보적 디자인과 친환경
                                        실리콘의 조화로 만들어진 실리콘 조리도구 브랜드
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>
            
            
        </div>

        <div class="layout-bg layout-06" id="layout_06">
            <div class="layout-inner">
                
                <span class="about-text-title contact">CONTACT</span>
                
                <div class="contact-content-wrap">
                    <div class="contact-left-box">
                        <ul class="contact-left-list">
                            <li class="contact-left-list-item">
                                <span class="left-list-item-category">Phone</span>
                                <span class="item-content">82-2-567-4918</span>
                            </li>

                            <li class="contact-left-list-item">
                                <span class="left-list-item-category">FAX</span>
                                <span class="item-content">82-2-567-4919</span>
                            </li>

                            <li class="contact-left-list-item">
                                <span class="left-list-item-category">Address</span>
                                <span class="item-content">
                                    B1, 7-40, Mabang-Ro, 6-Gil <br>
                                    Seocho-Ku, Seoul, Korea 06776
                                </span>
                            </li>

                            <li class="contact-left-list-item">
                                
                                <span class="item-content">
                                    대표 홍성우
                                </span>
                            </li>
                        </ul>
                    </div>

                    <div class="contact-right-box">
                        <form action="">
                            <div class="right-content-box" style="justify-content: space-between;">
                                
                                    <input type="text" class="user-info-input" placeholder="Name" style="width: 110px;">
                                
                                
                                    <input type="text" class="user-info-input" placeholder="E-mail" style="width: 130px;">
                                
                            </div>

                            <div class="right-content-box">
                                
                                    <input type="text" class="user-info-input" placeholder="Phone">
                                
                            </div>

                            <div class="right-content-box">
                                
                                    <textarea name="" id="" cols="" rows="" class="type-content" placeholder="Type your message here"></textarea>
                                
                            </div>


                            <button type="submit" class="submit-mail-btn">Submit</button>
                        </form>
                    </div>
                </div>

            </div>

            <!-- 지도 -->
            <div class="load-map">
                <!-- * 카카오맵 - 지도퍼가기 -->
                <!-- 1. 지도 노드 -->
                <div id="daumRoughmapContainer1640225960926" class="root_daum_roughmap root_daum_roughmap_landing" style="width: 100%;"></div>
                

                <!-- 3. 실행 스크립트 -->
                <script charset="UTF-8" type="text/javascript">
                    new daum.roughmap.Lander({
                        "timestamp" : "1640225960926",
                        "key" : "28iyk",
                        // "mapWidth" : "640",
                        "mapHeight" : "343"
                    }).render();
                </script>
            </div>
        </div>
        </div>


        
    </div>
</main>


<script type="text/javascript">
    $(function(){
        $('.about-fargo-btn').click(function(){
            var layoutSecond = $("#layout_02").offset().top - 94; 
            var MobilelayoutSecond = $("#layout_02").offset().top - 60; 

            if ($(window).width() < 992) { //모바일
                $('html, body').animate({
                    scrollTop : document.body.scrollTop + MobilelayoutSecond
                    
                },500);
            }
            else {
                $('html, body').animate({
                    scrollTop : document.body.scrollTop + layoutSecond
                },200);
                
                return false;
            }

            
        });
    });
</script>