.theme-header {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50vw);
    background-color: #bde4fa;
    position: fixed;
    top: 0;
    // height: 55px;
    z-index: 90;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);

    .pc-mode {
        display: none;
    }

    .mobile-side-menu-wrap {
        display: block;
        order: 1;
        line-height: normal;
    }


    .head-logo-box {
        order: 2;
        position: absolute;
        // top: 11px;
        left: 50%;
        transform: translateX(-50%);
        
        .mobile-logo {
            display: block;
            width: 70px;
            height: auto;
        }   

        .pc-logo {
            display: none;
        }        
    }

    .inner-header {
        width: 100%;
        max-width: 1280px;
        padding: 17px 15px;
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        height: 100%;
    
    }

   

    .menu-btn {
        width: 24px;
        height: 24px;
        

        i {
            color: #0a0a10;
            font-size: 24px;
        }


    }

  
}

//모바일일때 사이드 메뉴
.mobile-side-menu {
    &.open {
        .mobile-mode {
            left: 0;
        }        

        .mobile-side-dimmed {
            opacity: 1;
            transition: all .2s ease-in-out;
            visibility: visible;
        }
    }

    .mobile-mode {
        .menu-list {
            margin: 0;

            .menu-list-link {
                color: #0a0a10;
                font-size: 18px;
                font-weight: 500;
                // line-height: 4.06;
                letter-spacing: normal;
                padding: 8px 15px;
                display: block;
                text-align: left;
                

                border-bottom: 1px solid rgba(255,255,255,0.5);
            }
        }
    }
}


.mobile-mode {
    left: -100%;
    width: 85%;
    max-width: 320px;
    background-color: #bde4fa;
    z-index: 99;
    transition: all .3s ease-in-out;
    position: fixed;
    // height: 100%;
    top: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;


    .menu-list {
        display: block;

        .menu-list-item {
            padding: 0;
        }
    }

}

.mobile-side-dimmed {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 98;
    visibility: hidden;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    transition: all .2s ease-in-out;
}

.menu-list {
    display: flex;
    align-items: center;
    margin: 0 -12px;

    .menu-list-item {
        padding: 0 5px;

        .menu-list-link {
            display: block;
            font-size: 18px;
            font-weight: 500;
            color: #000;
            padding: 36px 12px;
            position: relative;
            // line-height: 4.06;
            letter-spacing: normal;
            line-height: normal;
            // text-align: center;
            
          
 
            &:hover {
                

                &::before {
                    transition: all .2s ease-in-out;
                    width: 100%;
                    opacity: 0.85;
                    
                }
            }
        }
    }
}
 
.mobile-nav-close-btn {
    position: absolute;
    right: 15px;
    top: 20px;
    line-height: normal;

    i {
        color: #fff;
        font-size: 20px;
    }
}

 
@media (min-width:992px) {
    .theme-header {
        height: auto;

        .head-logo-box {
            order: 1;
            position: relative;
            transform: initial;
            left: initial;

            .mobile-logo {
                display: none;
            }
    
            .pc-logo {
                display: block;
                width: 110px;
                height: auto;
            }   
        }

        .inner-header {
            padding: 0 15px;      
            justify-content: space-between;
        }

        .pc-mode {
            display: block; 
            order: 2; 
        }

        .mobile-side-menu-wrap {
            display: none;
        }
    }
}

@media (min-width:992px) and (max-width:1024px) {
    .menu-list {
        .menu-list-item {
            .menu-list-link {
                padding: 36px 7px;
            }
        }
    }
}