.theme-main {
    padding-top: 60px;
    

    .content-layout {
        width: 100%;
       

        .layout-bg {
            width: 100vw;
            height: 100vh;
            position: relative;

            .layout-inner {
                width: 100%;
                max-width: 1170px;
                padding: 0 15px;
                margin: 0 auto; 

                &.shopping-inner {
                    max-width: 1260px;
                }
            }
            
            &.layout-01 {
                display: table; 
                background-color: #ececec;
                background-image: url(../img/top-banner.png);
                background-attachment: fixed;
                background-position: top;
                background-repeat: no-repeat;
                background-size: cover;
            }

            &.layout-02 {
                height: auto;
                display: table;
                background-color: #f36468;
                padding: 70px 0 267px;
                height: 530px;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100vw;
                    background-image: url(../img/topbanner.png);   
                    background-attachment: fixed;
                    background-position: bottom;
                    background-repeat: no-repeat;
                    background-size: cover;
                    bottom: 0;  
                    height: 160px;
                    transform: scale(1.1);
                }
                
            }

            &.layout-03 {
                display: table;
                background-color: #ffe6e5;
                padding: 70px 0 77px;

            }


            &.layout-04 {
                display: table;
                height: auto;
                margin: 150px 0;
                background-color: #8fd0cc;
                padding: 85px 0 77px;
            }

            &.layout-05 {
                display: table;
                margin-bottom: 150px;
                background-color: #8fd0cc;
                padding: 85px 0 123px;

                .about-text-title  {
                    margin-bottom: 20px;
                }
            }

            &.layout-06 {
                display: table;
                padding: 85px 0 0;
                background-color: #40657c;
                height: auto;
            }

            &.layout-07 {
                display: block;
                height: auto;
            }

        }
    }

    .top-layout-text-box {
        width: 100%;
        text-align: center;
        font-size: 35px;
        font-weight: 400;
        color: #0a0a10;
        line-height: 1.29;
        letter-spacing: normal;
    }

    .about-fargo-btn {
        width: 100%;
        max-width: 260px;
        margin: 27px auto 0;
        display: block;
        border-radius: 100px;
        border: 2px solid #f36468;
        background-color: #ed4922;
        padding: 8px 0;
        cursor: pointer;

        color: #fff;
        letter-spacing: normal;
        line-height: normal;
        font-size: 20px;
        font-weight: 400;

        b {
            font-weight: 600;
        }

        i {
            margin-left: 4px;
            display: inline-block;
            margin-top: 3px;
        }

    }

    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .top-layout-inner-wrap {
        width: 100%;
    }

    .about-text-box {
        

        

        p {
            font-size: 20px;
            font-weight: 400;
            color: #fff;
            line-height: 1.5;
            letter-spacing: normal;
            margin: 32px 0 0;

            &:first-child {
                margin: 0;
            }

            
        }
    }

    .about-text-title {
        font-size: 26px;
        font-weight: 600;
        line-height: 1.8;
        letter-spacing: normal;
        color: #fff;
        display: block;
        position: relative;
        width: fit-content;
        margin: 0 auto 50px;
        text-align: center;


        &::after {
            content: '';
            display: block;
            width: 30px;
            height: 5px;
            background-color: #fff;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            

        }

        &.history {
            color: #41667c;

            &::after {
                background-color: #41667c;
            }
        }

        &.contact {
            color: #fee6e5;

            &:after {
                background-color: #fee6e5;
            }
        }
    }

    .layout-history-content {
        width: fit-content;
        margin: 0 auto;
    }

    .history-box {
        display: flex;
        align-items: flex-start;
        // margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;

            .history-content-right {
                &::before {
                    height: 0;
                }

                .right-content-sub {
                    margin-bottom: 0;
                }
            }
        }

        .history-content-left {
            // text-align: right;
            min-width: 96px;
            position: relative;

            .history-year {
               font-size: 13px; 
               color: #41667c;
               font-weight: 600;
               letter-spacing: normal;
               line-height: normal;
               display: block;
               margin-left: auto;
               width: fit-content;

               &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    right: -24px;
                    width: 9px;
                    height: 9px;
                    background-color: #41667c;
                    border-radius: 100px;
                    top: 4px;

                }

                

               &.round {
                    border-radius: 50px;
                    border: 2px solid #41667c;
                    padding: 5px 12px;
                    font-size: 16px;
                    margin-top: -7px;
                    

                    &::before {
                        width: 11px;
                        height: 11px;
                        right: -25px;
                    }

                    &::after {
                        content: '';
                        display: block;
                        width: 15px;
                        height: 2px;
                        background-color: #41667c;
                        position: absolute;
                        right: -15px;
                        top: 8px;
                    }
               }
            }
        }

        .history-content-right {
            padding-left: 38px;
            text-align: left;
            position: relative;

            &::before {
                content: '';
                display: block;
                position: absolute;
                height: 100%;
                width: 1px;
                background-color: #41667c;
                left: 19px;
                top: 15px;
            }
        }

        .right-content-title {
            display: block;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: normal;
            line-height: normal;
            color: #41667c;
            margin-bottom: 13px;
            

           

            &.bold {
                font-weight: 600;

               
            }
        }

        .right-content-sub {
            display: block;
            margin-bottom: 16px;
            font-weight: 400;
            font-size: 13px;
            color: #41667c;
            line-height: 1.23;
            letter-spacing: normal;

            &:last-child {
                margin-bottom: 30px;
            }
        }
    }


    .brand-logo-list-wrap {
        width: 100%;

        .brand-logo-list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .brand-logo-item {
                width: 33.333%;
                margin-bottom: 10px;
                text-align: center;

                img {
                    width: 100%;
                    max-width: 140px;
                    padding: 0 7px;
                    height: auto;
                }
            }
        }
    }


    .shopping-list {
        display: flex;    
        flex-wrap: wrap;
        margin: 0 -10px;
        align-items: stretch;

        .shopping-item {
            width: 100%;
            max-width: 303px;
            margin: 37px auto 0;
            padding: 0 10px;

            &:last-child {
                margin-bottom: 0;
            }

        
            .shopping-item-link {
                display: block;
                text-align: center;
                background-color: #fff;
                box-shadow: 0 0 6px 0 rgba(0,0,0,0.16);
                border-radius: 5px;
                overflow: hidden;
                height: 100%;

                .shopping-item-thumbnail-box {
                    width: 100%;
                   

                    .thumbnail-img {
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        padding-top: 60%;
                        background-color: #ececec;
                        
                    }
                }
            }

            .shopping-info {
                padding: 15px;

                .info-title {
                    color: #0a0a10;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 1.38;
                    letter-spacing: normal;
                    display: block;
                    margin-bottom: 8px;

                }

                .info-text {
                    margin: 0;
                    display: block;
                    color: #999;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.38;
                    letter-spacing: normal;
                }
            }

        }


    }


    .contact-content-wrap {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        .contact-left-list-item {
            color: #fee6e5;
            font-weight: 400;
            line-height: normal;
            letter-spacing: normal;
            font-size: 16px;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            .left-list-item-category {
                font-weight: 600;
                font-size: 18px;
                display: block;
                margin-bottom: 7px;
            }
        }

        .contact-left-box {
            width: 100%;
            max-width: 232px;
            margin: 0 auto 66px;
        }


        .contact-right-box {
            width: 100%;
            max-width: 256px;
            margin: 0 auto;
            
            

            .right-content-box {
                margin-bottom: 12px;
                display: flex;
                align-items: center;
                
            }

            .user-info-input {
                display: block;
                border-radius: 5px;
                background-color: #fff;
                height: 36px;
                border: 0;
                padding: 0 15px;
                width: 100%;
                font-size: 14px;
                font-weight: 400;
                color: #0a0a10;
                line-height: normal;
                letter-spacing: normal;

                &:focus, &:active {
                    outline: none;
                }

                &::placeholder {
                    color: #0a0a10;
                }

            }
            
            .type-content  {
                background-color: #fff;
                border-radius: 5px;
                width: 100%;
                resize: none;
                min-height: 100px;
                padding: 15px;

                &:focus, &:active {
                    outline: none;
                }

                &::placeholder {
                    color: #0a0a10;
                }
            }
        }

        .submit-mail-btn {
            width: 100%;
            max-width: 120px;
            margin: 0 auto;
            display: block;
            border-radius: 100px;
            background-color: #fff;
            padding: 8px;
            font-size: 16px;
            color: #0a0a10;
            line-height: normal;
            letter-spacing: normal;
            font-weight: 600;
        }
    }

    .load-map {
        width: 100%;
        position: relative;
        // height: 300px;
        margin-top: 85px;
        
    }

}




@media screen and (min-width:992px) {
    .theme-main {
        padding-top: 93px;

        .content-layout {
            .layout-bg {
                &.layout-02 {
                    // height: 600px;
                    padding: 175px 0 375px;

                    &::after {
                        height: 200px;
                    }
                }

                &.layout-03 {
                    padding: 160px 0 166px;
                }

                &.layout-04 {
                    margin: 198px 0;
                    padding: 160px 0 133px;
                }

                &.layout-05 {
                    padding: 160px 0 168px;
                    margin-bottom: 230px;
                    .about-text-title {
                        margin-bottom: 0;
                    }
                }

                &.layout-06 {
                    padding: 110px 0px 0; 

                    .about-text-title {
                        margin-bottom: 47px;
                    }
                }
            }
        }

        .about-text-box {
            width: 100%;
            max-width: 642px;
            margin: 0 auto;
            text-align: center;

           
            p {
                font-size: 22px;
                line-height: 1.36;
                margin: 30px 0 0;

                &:first-child {
                    margin-top: 38px;
                }
            }
        }

        .about-text-title  {
            margin-bottom: 37px;
        }
        
        .top-layout-text-box {
            font-size: 50px;
            line-height: 1.3;
        }

        .about-fargo-btn {
            margin-top: 28px;
        }

        .about-text-title {
            font-size: 30px;
        }

        .layout-history-content {
            margin-top: 45px;
        }

        .history-box {
            .history-content-left {
                .history-year {
                    font-size: 16px;

                    &::before {
                        width: 10px;
                        height: 10px;
                        right: -24.5px;

                    }

                    &.round {
                        font-size: 20px;
                        padding: 2px 12px;

                        &::before {
                            width: 14px;
                            height: 14px;
                            right: -26px;
                        }
                    }
                }
            }

            .right-content-title {
                font-size: 16px;
                margin-bottom: 15px;
            }

            .right-content-sub {
                font-size: 16px;
                margin-bottom: 20px;
            }
        }

        .brand-logo-list-wrap {
            .brand-logo-list {
                .brand-logo-item  {
                    width: 20%;
                    margin-bottom: 42px;
                }
            }
        }

        .shopping-list {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            margin:  0 -45px;
            

            .shopping-item  {
                width: 33.333%;
                max-width: initial;
                
                margin: 58px 0 0;
                padding: 0 45px;
                
                .shopping-item-link {
                    height: 100%;
                    box-shadow: none;

                    .shopping-item-thumbnail-box {
                        .thumbnail-img {
                            padding-top: 61%;
                        }
                    }
                }

                .shopping-info {
                    padding: 18px 13px;

                    .info-title {
                        margin-bottom: 6px;
                    }
                }
            }
        }
        

        .contact-content-wrap {
            justify-content: space-around;

            .contact-left-box {
                width: auto;
                max-width: initial;
                margin: 0;
                
            }

            .contact-right-box  {
                // width: auto;
                // max-width: 256px;
                margin: 0;
                
            }

            .contact-left-list-item {
                margin-bottom: 32px;
            }
        }

        .load-map {
            margin-top: 153px;
        }
    }
}